* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #eef3fb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: #ffffff;
  width: 100%;
  max-width: 420px;
  padding:.logo {
  text-align: center;
  color: #000;
  margin-bottom: 10px;
}

.logo i {
  color: #007bff;
  margin: 0 5px;
} 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
_}



h2 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

.signin-text {
  margin-bottom: 20px;
  font-size: 14px;
}

.signin-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}